#bg{
    background-image: url("src/assets/Rectangle 1.svg");
    width: full;
    height: full;

}
#bgg{
    background-image: url("src/assets/webaliser-_TPTXZd9mOo-unsplash 1.svg");
    width: full;
    height: full;
    background-repeat: no-repeat;
    background-size: cover;
}
#bggf{
    background-image: url("src/assets/Rectangle13.svg");
    height: full; 
    background-repeat: no-repeat;
    background-size: cover;
}
#bggff{
    background-image: url("src/assets/Rectangle13(3).svg");
    height: full; 
    background-repeat: no-repeat;
    background-size: cover;
}
#bggfg{
    background-image: url("src/assets/Rectangle13(1).svg");
    height: full; 
    background-repeat: no-repeat;
    background-size: cover;
}
#bggfgh{
    background-image: url("src/assets/Rectangle13(2).svg");
    height: full; 
    background-repeat: no-repeat;
    background-size: cover;
}
#img{
    background-image: url("src/assets/Rectangle 38.svg");
    height: full; 
    background-repeat: no-repeat;
    background-size: cover;
}
#imgg{
    background-image: url("src/assets/Rectangle23.svg");
    height: full; 
    background-repeat: no-repeat;
    background-size: cover;
}
#mih{
    background-image: url("src/assets/Rectangle25.svg");
    height: full; 
    background-repeat: no-repeat;
    background-size: cover;
}
#BG{
    background-image: url("src/assets/BG.svg");
    height: full; 
    background-repeat: no-repeat;
    background-size: cover;
}
/* about */
#about{
    background-image: url("src/assets/web1122.svg");
    height: full; 
    background-repeat: no-repeat;
    background-size: cover;
}
#aboutt{
    background-image: url("src/assets/Rectangle338.svg");
    height: full; 
    background-repeat: no-repeat;
    background-size: cover;
}
#newss{
    background-image: url("src/assets/Rectangle338.svg");
    height: full; 
    background-repeat: no-repeat;
    background-size: cover;
}
#new{
    background-image: url("src/assets/Rectangle37.svg");
    height: full; 
    background-repeat: no-repeat;
    background-size: cover;
}
#newsss{
    background-image: url("src/assets/Rectangle225.svg");
    height: full; 
    background-repeat: no-repeat;
    background-size: cover;
}
#our{
    background-image: url("src/assets/Rectangle24.svg");
    height: full; 
    background-repeat: no-repeat;
    background-size: cover;
}
#idd{
    background-image: url("src/assets/BGG(2341).svg");
    height: full; 
    background-repeat: no-repeat;
    background-size: cover;
}